.conatiner_style1
{
  border-radius:2rem;
  background-color: rgba(128, 128, 128, 0.252);
  padding:1rem;
}
.conatiner_style2
{
  border-radius:2rem;
  background-color: rgba(0, 21, 255, 0.252);
  padding:1rem;
}
